<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	 <preference for="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tab\Front" type="Ktpl\AttributeOptions\Block\Adminhtml\Product\Attribute\Edit\Tab\Front" />
</config>