<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 ktpl (http://www.ktpl.co/) All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes">
    <router id="admin">
        <route id="testimonial" frontName="testimonial">
            <module name="Ktpl_Testimonial"/>
        </route>
    </router>
</config>