<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banners_index_listing_data_source" xsi:type="string">Ktpl\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ktpl\BannerSlider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ktpl_banner</argument>
            <argument name="eventPrefix" xsi:type="string">ktpl_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ktpl\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>

    <virtualType name="Ktpl\BannerSlider\BannerImageUploader" type="Ktpl\BannerSlider\Model\Banner\Image\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banners/tmp/image</argument>
            <argument name="basePath" xsi:type="string">banners/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ktpl\BannerSlider\Controller\Adminhtml\Index\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ktpl\BannerSlider\BannerImageUploader</argument>
        </arguments>
    </type>
</config>
