<?xml version="1.0"?>
<!--
/**
 * Cmarix_Productshippingquote extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Cmarix License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.cmarix.com/LICENSE.txt
 *
 * @category  Cmarix
 * @package   Cmarix_Productshippingquote
 * @copyright Copyright (c) 2016
 * @license   https://www.cmarix.com/LICENSE.txt Cmarix License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <testimonials>
            <general>
                <enabled>1</enabled>                
            </general>
        </testimonials>
    </default>
</config>