<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="add_cms_block_to_checkout_config" type="Ktpl\MiniCartView\Plugin\AddCmsBlockToCheckoutConfig" sortOrder="10"/>
    </type>

</config>